html {
  background: url(./josh-sorensonjpg.jpg) bottom center;
  background-size: cover;
  font-size: 11px;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
}

.keys {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  min-height: 100vh;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.key {
  border: .13rem solid black;
  -webkit-box-shadow: 2px 4px 8px rgba(0, 0, 0, .8);
  box-shadow: 2px 4px 8px rgba(0, 0, 0, .8);
  border-radius: 2rem;
  margin: .8rem;
  font-size: 1.2rem;
  padding: 1rem .5rem;
  -webkit-transition: all .07s ease;
  -o-transition: all .07s ease;
  transition: all .07s ease;
  width: 8rem;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.45);
  text-shadow: 0 0 .5rem black;
  cursor: pointer;
  font-weight: 900;
}

.playing {
  -webkit-transform: scale(.85);
  -ms-transform: scale(.85);
  transform: scale(.85);
  border-color: #ff8017;
  -webkit-box-shadow: 0 0 1rem #ff8017;
  box-shadow: 0 0 1rem #ff8017;
  -webkit-box-shadow: 0 0 1rem #ffc917;
  box-shadow: 0 0 1rem #ffc917;
}

kbd {
  display: block;
  font-size: 2.5rem;
  font-family: 'Special Elite', serif;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ff8017;
  text-shadow: 0px 0px 5px rgb(0, 0, 0),
    0px 0px 6px rgb(0, 0, 0),
    1px 1px 8px rgb(0, 0, 0),
    -1px -1px 8px rgb(0, 0, 0);
}